/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Jersey+10&display=swap');

:root {
    --primary-font: 'Doto', sans-serif;
    --secondary-font: 'Jersey 10', sans-serif;
    --primary-text-color: #ffffff;
    --primary-background-color: #112223;
    --secondary-text-color: black;
    --secondary-background-color: #f8f9fa;
}

body {
    padding-top: 50px;
    /*padding-bottom: 10px;*/
    background-color: var(--primary-background-color);
    font-family: var(--primary-font);
    color: var(--primary-text-color);

}

p {
    font-family: var(--secondary-font);
}

footer {
    padding-top: 25px;
}

.chatbox {
    max-width: 500px;
    margin: auto;
    height: 500px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    border: 6px solid #000000;
    border-radius: 22px;
    overflow: hidden;
    background-color: var(--secondary-background-color);
    color: black;
    font-weight: 700;
}

.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    font-weight: 700;
}

.message {
    margin-bottom: 10px;
    font-weight: 700;
}

.message.user {
    text-align: right;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
    font-weight: 700;
}

.chat-input input {
    border: none;
    flex: 1;
    padding: 10px;
    font-weight: 700;
}

.chat-input button {
    border: none;
    background: #ffffff;
    padding: 10px 20px;
    font-weight: 700;
}

.social-links {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: var(--primary-text-color);
    font-size: 32px;
}